<nav class="navbar" style="background-color: darkorange;">

    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <!-- <img src="https://cdn5.vectorstock.com/i/1000x1000/09/29/blot-letter-k-black-and-white-vector-20470929.jpg" alt="logo" width="30" height="40"> -->
        <span >Kitchen Story</span>
    </a>
    <span>
      <button type="button" class="btn btn-outline-dark" routerLink="/">Home</button>
        <button type="button" class="btn btn-outline-dark" routerLink="/cart-page">Cart</button>
   

    </span>

    </div>
      </nav>
  