
<div class="container">
    <img [src]="food.imageUrl" [alt]="food.name">
    <div class="details">
        <div class="name">
            {{food.name}}
        </div>
        <span class="favourite {{food.favourite?'':'not'}}">
            ❤
        </span>
        <div class="product-item-footer">
        <div class="stars">
            <app-starrating [stars]='food.stars'/>
        </div>
        <div class="offers">
            {{food.offers}}
        </div>
        <div class="price">
            {{food.price|currency}}
        </div>
        <button (click)="addToCart()">Add To Cart</button>
    </div>
    </div>
</div>